_ide_helper.php
.DS_Store
.env
.phpstorm.meta.php
.phpunit.result.cache
/.idea
/.tmp
/.vagrant
/.vscode
/**/.DS_Store
/database/database.sqlite
/node_modules
/public/css/*
/public/fonts/*
/public/hot
/public/images/*
/public/js/*
/public/mix-manifest.json
/public/storage
/public/svg/*
/public/version
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
yarn-error.log
