<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         cacheResult="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         printerClass="Tests\utilities\PhpUnitResultsPrinter"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Feature Tests">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>

        <testsuite name="Unit Tests">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
            <exclude>
                <file>./app/helpers.php</file>
            </exclude>
        </whitelist>
    </filter>
    <listeners>
        <listener class="NunoMaduro\Collision\Adapters\Phpunit\Listener" />
    </listeners>
    <php>
        <env name="APP_KEY" value="DDLxBATLqEE3kNJbRyRDDVzpsnn3p9cD"/>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_DEBUG" value="true"/>
        <env name="APP_LOG_LEVEL" value="debug"/>

        <env name="DB_CONNECTION" value="tests"/>

        <env name="CACHE_DRIVER" value="array"/>

        <env name="SESSION_DRIVER" value="array"/>

        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="QUEUE_CONNECTION" value="array"/>

        <env name="SCOUT_DRIVER" value="null"/>
        <env name="SCOUT_QUEUE" value="false"/>
    </php>
</phpunit>
